*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-login {
  height: 58rem;
  background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("landing.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: white;
    text-transform: uppercase;
  }
}

.sign-in-container {
  margin-top: 5.5rem;

  h2 {
    padding-left: 1rem;
    margin-bottom: 2rem;
    font-weight: 300;
  }
}

.landing-form-container {
  background-color: #171a21;
  width: 45rem;
  height: 20rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  // margin-bottom: 10rem;
}

.landing-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input[type="email"], input[type="password"] {
    width: 25rem;
    height: 2.5rem;
    outline: none;
    padding: 10px;
    background-color: #393c44;
    border: none;
    border-radius: 3px;
    margin-bottom: 1rem;
  }

  input[type="submit"] {
    width: 18rem;
    height: 3rem;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border: none;
    border-radius: 3px;
    color: #ffffff;
  }
}

.navbar{
  background-color: #171a21;
  height: 7.5rem;
  text-transform: uppercase;


  a {
    color: #969696;
    margin-left: 1rem;
    font-size: 1.25rem;
  }
}

h2 {
  background-color: transparent;
}

.email-label {
  text-transform: uppercase;
  color: #1999ff;
  font-size: .75rem;
  font-weight: 500;
}

.bottom-nav {
  height: 18rem;
  width: 100vw;
  background-color: #171a21;
}

.user-dashboard {
  display: flex;
}
