*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-login {
  height: 58rem;
  background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("landing.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: white;
    text-transform: uppercase;
  }
}

.landing-form {
  background-color: #171a21;
  width: 45rem;
  height: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-bottom: 10rem;
}

.navbar{
  background-color: #171a21;
  height: 7.5rem;
  text-transform: uppercase;


  a {
    color: #969696;
    margin-left: 1rem;
    font-size: 1.25rem;
  }
}

h2 {
  background-color: transparent;
}